<% if user_signed_in? %>
  <label>Logging as <%= current_user.name %></label><br>
  <label>Your email is <%= current_user.email %></label><br>
  <%= image_tag current_user.avatar_url %>
  <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Register", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %>
<% end %>
